<div class="extrato">

    <p class="title">

Extrato de transações
    </p>

    <table class="table table-bordered">
        <thead>
          <tr>
            <th class="th-1"></th>
            <th class="th-2">Mercadoria</th>
            <th class="th-3">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of extrato">
            <td class="th-1">{{e.tipo}}</td>
            <td class="th-2">{{e.mercadoria}}</td>
            <td class="th-3">{{e.valor | currency:'BRL':true}}</td>
          </tr>

        </tbody>
      
      <thead>
        <tr>
          <th class="total"></th>
          <th class="total">Total</th>
          <th class="total th-3">{{saldo | currency:'BRL':true}}  <p class="tipo-resultado">lucro</p></th>
        </tr>
      </thead>
    </table>
</div>