/* You can add global styles to this file, and also import other style files */


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }

  .title{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}